* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.top {}

.header {
    padding-top: 18px;
    padding-bottom: 19px;
    padding-right: 240px;
    padding-left: 231px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);

}

.logo_and_search {
    display: flex;
    align-items: center;
}

.header_logo {
    margin-right: 41px;
}

.top_info {
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.top_vertical_line {
    padding-top: 289px;
    padding-bottom: 382px;
    padding-right: 16px;
}

.top_text {
    padding-top: 289px;
    padding-bottom: 382px;
    width: 377px;
    height: 91px;
}

.the_brand {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.of_luxerio_fashion {
    display: flex;
    justify-content: space-between;
}

.of_luxerio {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fashion {
    color: #F16D7F;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.gender_category {
    margin-top: 65px;
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.gender {
    background-color: #211616;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gender_photo {
    opacity: 0.3;
}

.link_text {
    min-width: 154px;
    height: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gender_text {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.accesories {
    background-color: #211616;
    height: 180px;
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accesories_photo {
    opacity: 0.3;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.products_header {
    margin-top: 96px;
    margin-bottom: 6px;
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products_preview {
    margin-bottom: 48px;
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.item {
    background-color: #f8f8f8;
}

.prod2 {
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7E4E2;
    justify-content: center;
}

.product_text {
    padding: 24px 16px 24px 16px;
}

.product_heading {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product_description {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.product_price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products_button {
    margin-top: 48px;
    margin-bottom: 48px;
}

.button {
    width: 212px;
    height: 48px;
    border-color: #ff6a6a;
    background-color: #fff;
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}